html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: gray;
}

body{
  background-color: white;
  padding: 0px 0px 20px 0px;
  margin: 0px;
}

p {
  font-size: 16px;
  letter-spacing: 1px;
  margin:0px;
  padding: 20px 20px 20px 20px;
}

img{
  display: block;
  padding: 0px 0px 10px 0px;
}

nav{
  background: gray;
  width: 100%;
}

nav ul{
  padding: 0;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
  padding: 0; 
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

button{
  float: center;
}

.quote-text{
  border-style: solid;
  border:1px;
  align-content: center;
  /*max-width: 750px;*/
  overflow: hidden;
}

.new-quote{
  
}

.hidden{
  display: none;
}

.right{
  float: right;
}

.header{
  margin: 10px;
  border-width: 1px;
}

.navbar{
  display: block;
}

.quotep{
  margin: auto;
  width: 50%;
  text-align: center;
  display: block;
  align-content: right;
}

.logo{
  max-height: 50px;
  max-width: 50px;
  vertical-align: middle;
}